# Node modules
node_modules/

# Logs
*.log

# Environment variables


# Dependency directories
jspm_packages/

# Build output
dist/
build/

# OS specific files
.DS_Store
Thumbs.db

# IDE specific files
.vscode/
.idea/

# NPM package-lock file
package-lock.json
