.app-footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 470px;
  }
  .name{
    margin-left: -200px;
    margin-top: 30px;
    font-size: 40px;
  }
  
  .footer-content {
    max-width: 1600px;
    margin-right: 50px;
    margin-left: 300px;
    display: flex;
    flex-direction: left;
    justify-content: space-between;
  }
  
  .footer-links {
    margin-top: 10px;
  }
  .pdiv{
    display: flex;
    flex-direction: column;
  }
  .footer-links a {
    color: #fff;
    display: flex;
    flex-direction: column;
    margin-top: -10px;
    text-decoration: none;
    padding: 10px;
    
  }
  