/*.navcontainer{
    background-color: aqua;
    padding: 10px;
    display:flex;
    align-items: center;
    justify-content: center;
    
    
}
.signupt{
    padding: 10px;
    background-color: white;
    width: 100px;
    
   
    margin-left: 700px;
    border-radius: 20px;
    text-align: center;

}
.img{
    width: 100%;
    height:100%;
}
.button{
    align-items: left;
    
}*/
.navcontainer {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    display: flex;
   
    
    width:1250px;
    height:50px;
   
}
.Logintextcontainer{
    padding:20px;
    background-color: rgb(255, 255, 255);
    color: #09663F;
    border: 2px solid #09663F;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    width: 80px;
    text-align: center;
    margin-left: 850px;
}
.signupt {
    padding: 10px;
    background-color:#09663F;
    width: 80px;
    border-radius: 5px;
    text-align: center;
    color: white;
    margin-left: 30px;
    margin-right: 50px;
}

.img {
    width: 10%; /* Adjust the size as needed */
    height:25%; /* Maintain aspect ratio */
    margin-left: 20px; /* Space between image and button */
    object-fit: cover; /* Cover the container */
    transform-origin: top left; /* Set the origin for scaling to top left */
    transform: scale(2.0);
    flex-shrink: 0;
    
}

