.container{
    margin-left: 390px;
    margin-top: 90px;
    background-color:#E5E5E5;
    align-items: center;
    width:450px;
    height :400px;
    background-color:#E5E5E5;
   
}
.header{
    font-size: 32px;
    font-weight: 700;
    justify-items: center;
    margin-left: 90px;
    padding-top: 40px;
    
}
.resettext{
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    margin-top: 10px;

}
.otp{
    margin-top: 30px;
    text-align: center;
    padding-right: 100px;
}
.box{
    padding: 15px;
    background-color: white;
    margin-top: 10px;
    margin-left: 80px;
    margin-right: 80px;
}
.button{
    margin-top: 45px;
    padding: 20px;
    background-color: #09663F;
    text-align: center;
    margin-left: 150px;
    margin-right:140px;
    border-radius: 10px;
    width:100px;
    height:20px;
    color: white;
    font-weight: 500;
    .text{
        text-align: center;
    }

}